header {
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 10px 20px;
     background-color:  #8B0000;;

}
.menu {
    text-align: center !important;
    
}


a{
    text-decoration:none;
    color:#ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 20px; ;
    padding: 5px;
    height: 100%;
    margin: 0px;
}


footer {
    background-color: #8B0000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: left;
}    
